html {
box-sizing: border-box;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.5rem;
}

* ,
* ::before ,
* ::after {
box-sizing: inherit;
}

body {
    background-color: antiquewhite;
    background-image: url(/img/House-in-Brazil.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper {
    width: 60%;
    background-color: rgba(180, 155, 105, 0.5);
    color: white;
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
}

nav {
    text-align: center;
    margin-bottom: 3.5rem;
}

nav li {
    display: inline;
}

nav a {
    padding: 12px 16px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 8px;
    margin-right: 8px;
}

nav,
header {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: cadetblue;
}

nav a:link,
nav a:visited {
    line-height: 1.5;
}

nav a:hover,
nav a:active {
    text-decoration: underline wavy rgba(221, 226, 180, 0.8) 2px;
    text-underline-offset: 6px;
    color: rgb(17, 75, 17);
}

nav a:hover::before {
   content:"\1f3e0 ";
}

policies {
    margin-bottom: 2rem;
}

form {
    padding-left: 3rem;
}

label,
span {
    display: inline-block;
    width: 250px;
    margin-right: 20px;
    text-align: right;
}

radio label {
    width: 12px;
}

span {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
input[type=file],
input[type=checkbox],
input[type=password] {
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
}

textarea {
    border-radius: 8px;
}

input[type=checkbox],
input[type=radio] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}


select {
    height: 20px;
}

button {
    background-color: white;
    color: rgb(41, 116, 202);
    padding: .5rem;
    width: 5rem;
    border: none;
    margin-bottom: 1rem;
    margin-left: 80%;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

button[type=submit] {
    margin-top: 2rem;
}