html {
   font-family:'Segoe UI', Tahoma, 
   Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-style: oblique;
    line-height: 1.25rem;
    color: rgb(210, 103, 167);
    background-color:antiquewhite
}

h1 
h2,
h3 {
    font-weight: 300;
    color: rgb(210, 103, 167);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline wavy rgba(229, 181, 102, 0.8) 4px;
    text-underline-offset: 4px;
}

h1 {
    font-size: 2.25rem;
    opacity: 0%
}

.fade-text {
    animation: fadeTxt linear 5s 10s;
    animation-fill-mode: forwards; /*Stays after animation*/
}

@keyframes fadeTxt {
    0% {
        opacity: 0;
    }
    50% {
        font-size: 2.75rem;
    }
    100% {
        opacity: 1;
        font-size: 3.25rem;
    }
}

h2 {
    font-size: 1.8rem;
    text-decoration: none;
}

h2::before,
h2::after {
    content:"\1f334 ";
}

h3 {
    font-size: 1.5rem;
}

nav {
    float:left;
    position: sticky;
    top: 0;
    background-color: rgba(168, 231, 241, 0.8);
    width: 240px;
}

nav ul {
    padding: 0;
}

nav li {
    font-size: smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    letter-spacing: 1.25px;
    list-style-type: lower-latin;
    text-transform: lowercase;

}

nav,
header {
    text-align: center;
}

nav a,
.assignments a,
footer a {
    text-decoration: none;
    color: rgb(52, 5, 70);
}

nav a:link,
nav a:visited {
    line-height: 1.5;
}

nav a:hover,
nav a:active {
    text-decoration: underline wavy rgba(221, 226, 180, 0.8) 2px;
    text-underline-offset: 6px;
    color: rgb(149, 228, 192);
}

nav a:hover::before {
   content:"\1f334  ";
}

header p {
    font-size: 80%;
}


img {
max-width: 130%;
height: auto;
display: block;
}

.fade-img {
    animation: fadeImg ease-in 10s;
    animation-fill-mode: forwards; /*stay after animation */
}
@keyframes fadeImg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        border-radius: 50%;
        border: solid  #c08dc1 8px;
    }
}

main,
header {
    width: 60%;
    margin: 0 auto;
    line-height: 1.4;
}

.assignments li {
    list-style-type: none;
}

.assignments li::before {
     content:"\1f4d6 ";
     font-size: 1.6rem;
}

.assignments a:link,
.assingments a:visited {
    line-height: 1.6;
}

.assingments a:hover,
.assignments a:active {
    text-decoration: underline double  rgba(229, 181, 102, 0.8) 2px;
    text-underline-offset: 4px;
}


footer {
    line-height: 80%;
    font-weight: 300;
    /*position: relative;*/
}


small {
    float: left;
    padding: 20px 0 40px 0;
}


/*

small {
    position: absolute;
    bottom: -100px;
    right: 0;
    padding: 30px 0;
}